html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 32px;
    transition: .2s;
    outline: none;
    color: rgba(0, 0, 0, 0.93)
}

button {
    margin: 0.1em;
    max-height: 2em;
}

button, input {
    padding: 0.2em;
    background-color: white;
    border: 1px solid lightgrey;
}

button:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}

.middle-text, .middle-text > * {
    font-size: 24px !important;
}

.small-text, .small-text > * {
    font-size: 14px !important;
}

.hidden {
    display: none !important;
}
