.NoteTextInput {
    width: 12em;
    margin: 0;
    align-self: center;
    box-shadow: none;
    outline: 9999px solid rgba(0, 0, 0, 0);
    z-index: 12;
}

@media (max-width: 600px) {
    .NoteTextInput {
        width: 8em;
    }
}
